<div class="settings section nec-sessions" ng-class="{loading: !isLoaded()}">

    <!-- User Session management -->
    <p>{{'SETTINGS_NEC.HELP_SESSIONS' | translate}}</p>

	<!-- Session filter -->
    <guac-filter filtered-items="filteredWrappers" items="wrappers"
                 placeholder="'SETTINGS_NEC.FIELD_PLACEHOLDER_FILTER' | translate"
                 properties="filteredWrapperProperties"></guac-filter>

    <!-- List of current user sessions -->
    <table class="sorted session-list">
        <thead>
            <tr>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'activeConnection.username'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_USERNAME' | translate}}
                </th>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'fullName'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_FULLNAME' | translate}}
                </th>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'organization'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_MANAGEMENT' | translate}}
                </th>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'startDate'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_STARTDATE' | translate}}
                </th>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'activeConnection.remoteHost'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_REMOTEHOST' | translate}}
                </th>
                <th guac-sort-order="wrapperOrder" guac-sort-property="'name'">
                    {{'SETTINGS_NEC.TABLE_HEADER_SESSION_CONNECTION_NAME' | translate}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="wrapper in wrapperPage" class="session">
                <td><guac-user-item username="wrapper.activeConnection.username"></guac-user-item></td>
                <td>{{wrapper.fullName}}</td>
                <td>{{wrapper.organization}}</td>
                <td>{{wrapper.startDate}}</td>
                <td>{{wrapper.activeConnection.remoteHost}}</td>
                <td>{{wrapper.name}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Text displayed if no sessions exist -->
    <p class="placeholder" ng-hide="wrapperPage.length">
        {{'SETTINGS_NEC.INFO_NO_SESSIONS' | translate}}
    </p>

    <!-- Pager for session list -->
    <guac-pager page="wrapperPage" page-size="25"
                items="filteredWrappers | orderBy : wrapperOrder.predicate"></guac-pager>
</div>
